.game {
  display: grid; 
  max-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-areas: "hero enemy menu"
                        "hero enemy messageBox"
                        "hero enemy-list messageBox"  
}

.hero {
  grid-area: hero;
} 

.enemy-sprite {
  grid-area: enemy;
} 

.enemies-list {
  margin-bottom: 25px;
  grid-area: enemy-list;
  display: flex; 
  flex-direction: column;
} 

.message-box {
  grid-area: messageBox;
  margin-right: 100px;
}

.menu {
  grid-area: menu;
  margin-right: 100px;
  overflow: auto;
}
