.loot {
  float: left;
  z-index: 3;
}
.coin {
  height: 30px; 
  width: 24px; 
  
  background: url('https://www.spriters-resource.com/resources/sheets/15/16158.png');
  background-position: -5px 0;
  animation: coin-spin .5s steps(4) 4, 
    move-left 2s;
}
@keyframes coin-spin {
  100% {
    background-position: -100px 0;
  }
}
@keyframes move-left {
  100% {
    transform: translateX(-300px); 
    opacity: .5;
  }
}