.empty-space {
  margin-top: 240px;
}

.health-bar-container {
  min-width: 200px;  
  height: 20px; 
  border-style: solid;
  border-width: 1px;
}

.damage-numbers {
  opacity: 0; 
  float: left; 
  position: absolute;
  z-index: 2;
  animation: show-damage-numbers 1s;
} 
@keyframes show-damage-numbers { 
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100px)
  }
}
.shroom-walking {
  width: 41px; 
  height: 45px;
  background: url('../images/shroom.png'); 
  background-position: -9px -20px; 
  animation: shroom-walking 1s steps(4) infinite;
}

@keyframes shroom-walking {
  100% {
    background-position: 100% -20px;
  }
}

.shroom-hurt {
  width: 41px; 
  height: 45px;
  background: url('../images/shroom.png'); 
  background-position: -9px -75px; 
}

.shroom-dying {
  width: 41px; 
  height: 45px; 
  background: url('../images/shroom.png'); 
  background-position: -9px -120px; 
  animation: shroom-dying 1s steps(4);
} 

@keyframes shroom-dying {
  100% {
    background-position: 120% -120px;
  }
}