.empty-space {
  margin-top: 240px;
}
@media only screen and (max-width: 640px) {
  .empty-space {
    margin-top: 120px;
  } 
}

.shroom-walking {
  width: 41px; 
  height: 45px;
  background: url('../images/monsters/shroom.png'); 
  background-position: -9px -20px; 
  animation: shroom-walking 1s steps(4) infinite;
}
@keyframes shroom-walking {
  100% {
    background-position: 100% -20px;
  }
}
.shroom-hurt {
  width: 41px; 
  height: 45px;
  background: url('../images/monsters/shroom.png'); 
  background-position: -9px -75px; 
}
.shroom-dying {
  width: 41px; 
  height: 45px; 
  background: url('../images/monsters/shroom.png'); 
  background-position: -9px -120px; 
  animation: shroom-dying 1s steps(4);
} 
@keyframes shroom-dying {
  100% {
    background-position: 120% -120px;
  }
}


.snail-walking {
  width: 45px; 
  height: 36px; 
  background: url('../images/monsters/snail.png'); 
  background-position: 0 -35px;
  animation: snail-walk 1s steps(5) infinite;
}
@keyframes snail-walk {
  100% {
    background-position: -228px -35px;
  }
}
.snail-hurt {
  width: 50px; 
  height: 36px; 
  background: url('../images/monsters/snail.png'); 
  background-position: -5px 66%;
}
.snail-dying {
  width: 45px; 
  height: 36px; 
  background: url('../images/monsters/snail.png'); 
  background-position: -5px 100%;
  animation: snail-dying 1s steps(9);
}
@keyframes snail-dying {
  100% {
    background-position: 114% 100%;
    opacity: .25;
  }
}


.red-snail-walking {
  width: 55px; 
  height: 40px; 
  background: url(https://www.spriters-resource.com/resources/sheets/20/22046.png); 
  background-position: 10px 20%;
  animation: red-snail-walk .5s steps(4) infinite;
}
@keyframes red-snail-walk {
  100% {
    background-position: 117% 20%;
  }
} 
.red-snail-hurt {
  width: 55px; 
  height: 40px; 
  background: url(https://www.spriters-resource.com/resources/sheets/20/22046.png); 
  background-position: 10px 40%;
}
.red-snail-dying {
  width: 60px; 
  height: 40px; 
  background: url(https://www.spriters-resource.com/resources/sheets/20/22046.png); 
  background-position: 10px 60%;
  animation: red-snail-dying 1s steps(3);
}
@keyframes red-snail-dying {
  100% {
    background-position: 100% 60%;
    opacity: .25;
  }
}


.axe-stump-walking {
  width: 75px; 
  height: 90px; 
  background: url('https://www.spriters-resource.com/resources/sheets/20/22083.png'); 
  background-position: 5px 28%;
  animation: axe-stump-walk 1s steps(4) infinite;
}
@keyframes axe-stump-walk {
  100% {
    background-position: 125% 28%;
  }
} 
.axe-stump-hurt { 
  width: 75px; 
  height: 100px; 
  background: url('https://www.spriters-resource.com/resources/sheets/20/22083.png'); 
  background-position: 5px 60%; 
}
.axe-stump-dying {
  width: 75px; 
  height: 103px; 
  background: url('https://www.spriters-resource.com/resources/sheets/20/22083.png'); 
  background-position: 5px 100%; 
  animation: axe-stump-dying 1s steps(4) infinite; 
}
@keyframes axe-stump-dying {
  100% {
    background-position: 125% 100%; 
    opacity: .25;
  }
}

