.stat-list {
  text-align: left;
  text-decoration: none;
}
.stat {
  list-style: none;
}

.attacks-list {
  list-style: none;
}

.hero {
  margin-left: 10px; 
}

.standing {
  width: 50px; 
  height: 70px; 
  transform: scaleX(-1); 
  background: url('../images/stand.png');
  animation: stand 1s steps(2) infinite; 
}
@keyframes stand {
  100% {
    background-position: 100% 0;
  }
}

.attacking {
  width: 65px; 
  height: 70px; 
  transform: scaleX(-1); 
  background: url('../images/swing1.png');
  animation: attack .5s steps(3); 
}  

@keyframes attack { 
  100% { 
    background-position: 100% 0;
  }
} 