.stat-list {
  text-align: left;
  text-decoration: none;
}
.stat {
  list-style: none;
}

.attacks-list {
  list-style: none;
}

.attacking {
  width: 180px; 
  height: 150px; 
  transform: scaleX(-1); 
  background: url('http://www.smackjeeves.com/images/uploaded/comics/2/g/t/2gtta7wxf22SUr.png'); 
  background-position: 100% -100px;
  /* animation: attack 1s steps(2)  */
}  

@keyframes attack { 
  100% { 
    /* margin-left: 70px; */
    width: 50px;
    background-position: 70% -100px;
  }
} 
